* {
  margin: 0;
  padding: 0;
}


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

:root {
  --color-blue: #0A13B4;
  --color-orange: #F36C35;
  --color-black: #1E1B1B;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Inter';
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

.text-center {
  text-align: center;
}



.flex {
  display: flex;
  align-items: center;
}



header {
  width: 100%;
  background-color: #ffffff;
  backdrop-filter: blur(32px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.debug {
  border: 1px solid black;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 22px 0;
}

.btn {
  border: 2px solid #0A13B4;
  border-radius: 4px;
  padding: 12px 32px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-blue);
}


.btn-primary {
  background-color: var(--color-blue);
  color: white;
}

.cta {
  gap: 8px
}


.hero {
  display: grid;
  grid-template-columns: 768px calc(1200px - 768px);
  margin-top: 80px;
  margin-bottom: 120px;
}

.hero__heading {
  color: #05095A;
  line-height: 120%;
  margin-bottom: 20px;
}

.hero__heading span {

  color: var(--color-orange);

}

.hero_paragraph {
  line-height: 38px;
  font-size: 28px;
  margin-bottom: 40px;
}

.hero__btns {

  gap: 12px;
}

.hero__btns a:nth-child(1) {
  background: linear-gradient(90deg, #F34B56 16.15%, rgba(255, 140, 105, 0.94) 83.33%);
  border: none;
}


.bootcamps {
  background: rgba(255, 255, 255, 0.8);
}

.bootcamps_header {
  text-align: center;
  font-size: 'Inter';
}


.bootcamps_text {
  margin-top: 14px;
  font-size: 20px;
  line-height: 26px;
}

.curriculum__heading {
  margin-bottom: 14px;
}

.curriculum__paragraph {
  padding: 0 85px;
}


.curriculum__features {
  margin-top: 42px;
  padding: 0 164.5008px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.curriculum__card {
  padding: 24px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
}

.curriculum__card_detail {
  margin-bottom: 80px;
}

.curriculum__card_header {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}


.curriculum__card_paragraph {
  font-size: 16px;
  line-height: 22px;
  padding-right: 10px;
  color: var(--color-black);
}


.curriculum__card_detail+a {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-blue);
  font-family:'Inter';
}

.icon_wrapper {
  height: 52px;
  width: 52px;
  margin-bottom: 24px;
}





.card1{
  color: var(--color-orange);
  background-color: #FFEDE4;
}


.card2{
  color: #1E5FDA;
  background-color: #F1F6FF
}

.card3{
  color: #1FCE66;
  background-color: #F0FFF6;
}
